name: Publish New Release

on:
  push:
    tags:
      - "*"

jobs:
  pypi:
    name: Publish package distributions to PyPI
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/sphinxnotes-lilypond
    permissions:
      id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
    - uses: actions/setup-python@v5
    - run: pip install build twine && make dist
    - uses: pypa/gh-action-pypi-publish@release/v1
      with: 
        password: ${{ secrets.PYPI_API_TOKEN }}

  release:
    name: Publish Github Release
    needs: [pypi]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: ncipollo/release-action@v1
        with:
          body: |
            Changelog: https://sphinx.silverrainz.me/lilypond/changelog.html#version-${{ github.ref_name }}
